*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1150px;
    min-width: 320px;
    margin: 0 auto;
}

.page{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
}

.page__content{
    flex-grow: 1;
}

.top{
    background: #561d90;
    background: linear-gradient(to right,#561d90,#872685);
    
}


/* Лого */
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    
    
}


.logo-image img{
    /* object-fit: cover; */
    width: auto;
    height: 9rem;
}

.header__social{
    display: flex;
    justify-content: center;
}
.header__social img {
    width: 3rem;
    height: auto;
}

.header__phone{
    color:white;
    font-size: 1.5rem;

}
.header__phone img{
    width:2rem;
    height: auto;
}

.top_line{
    border-bottom: 1px solid white;
}
/* меню */

.navbar{
    display:flex;
    justify-content: space-between;
    font-size: 1.4rem;
    
}
.navbar__item{
    list-style: none;
    position: relative;
    
}
.navbar__link{
    display: block;
    text-decoration: none;
    color:white;
    padding: 1rem 1rem 1rem;
}

.navdown{
    display:none;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(to right,#681d67,#561d90);
}
.navbar__link:hover,.navdown__link:hover{
    background: #4e017e;
    color: white;
}

.navbar__item:hover .navdown{
    display:block;
}
.navdown__item{
    list-style: none;
    display: flex;
    flex-direction: column;
   
}
.navdown__link{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: auto;
    white-space: nowrap;
    
}

/* Основной контект */

/* Баннер индекс*/

.index__banner_wrapper{
    background: linear-gradient(to right,#561d90,#872685);
}

.index__banner{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 2rem;
    min-height:35rem;
    padding: 2rem;
}

.banner__left {
    max-width: 50%;
    color:white;
    padding: 2rem;
}

.banner__right{
    padding: 2rem;
    background: cornsilk;
    border-radius: 0.5rem;
    max-width: 40%;
    align-self: flex-end;
}

.index__text{
    font-size: 1.2rem;
    padding:2rem;
    box-sizing: border-box;
    max-width: 45rem;
    line-height: 1.5rem;
}

.banner__right__heading{
    color:#561d90;
    font-size: 1.4rem;
    margin: 1rem 0;
    
}
.index__text__right{
    padding:0;
    
}

.order_button{
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 3rem;
    text-decoration: none;
    background: #561d90;
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
}

.button{
    text-align: center;
}


/* Показатели */
.score__group{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.score{
    margin:0 auto;
    text-align: center;    
}
.score__heading{
    color:#561d90;
    font-weight: 700;
    font-size: 6rem;
    margin:0 auto;

}

.score__text{
    font-weight: 500;
    font-size: 1.5rem;
    max-width: 10rem;
    margin:0 auto;
}


.footer{
    background: #561d90;
    background: linear-gradient(to right,#561d90,#872685);
   padding: 2rem 0;
   margin-top: 4rem;
}
.footer_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    font-size: 1.1 rem;
    color: white;
    padding: 0 2rem;
}

.footer_item{
    max-width: 33%;
}

.footer_p{
    padding: 0.3rem 0;
}

.footer_mail{
    text-decoration: none;
    color:white;
}

.navbar-mobile{
    width: 40px;
    height: 40px;
    background-color:blueviolet;
    display: none;
    flex-direction:column ;
    justify-content: space-evenly;
    border: 5px solid white;
    border-radius: 5px;
}
.navbar-mobail-line{
    background-color: white;
    height: 5px;
}


@media (max-width:1000px){
    html{
        font-size: 14px;
        
    }
    
}

@media (max-width:900px){
    html{
        font-size: 13px;
    }
}

@media (max-width:850px){
    html{
        font-size: 12px;
    }
}

@media (max-width:750px){
    html{
        font-size: 11px;
    }
    
    .navbar{
        display: none;
        font-size: 1.4rem;
        flex-direction: row;
    }
}

@media (max-width:670px){
    html{
        font-size: 14px;
    }
  
    .navbar{
        display: none;
        font-size: 1rem;
        flex-direction: column;
    }

    .navbar__item:hover .navdown{
        display:none;
    }
    .logo-image img{
        max-width: 10rem; 
        height: auto;
    }
    .header__phone{
        font-size: 1rem;
    }
    .navbar-mobile{
        display: flex;
    }
  

    .index__banner{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;

    }
    .banner__left{
        max-width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .banner__right{
        align-self: inherit;
        max-width: 100%;
        padding: 2rem;
        text-align: center;
        margin: 1rem;
    }

    .banner__right img{
        max-width: 90%;
    }

    .score__heading{
        font-size: 4rem;
    }
    .score__text{
        font-size: 1.2rem;
    }

    .footer{
        margin-top: 2rem;
    }
    .footer_container{
        flex-direction: column;
        box-sizing: border-box;
    }
    .footer_item{
        max-width: 90%;
        padding-top: 1rem;
        border-top: 1px solid #872685;
        text-align: center;
    }

    .header__phone{
        display: none;
    }
    .header__logo{
     box-sizing: border-box;
 }
    
}



@media (max-width:400px){
.header__social{
    display: none;

}
}